<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" *ngFor="let product of productList">
                        <div class="card">
                            <img class="card-img-top" [src]="product.productImageUrl" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">{{ product.productName }}</h4>
                                <p class="card-text">{{ product.productPrice | currency }}</p>
                                <p class="card-text">Category: {{ product.categoryName }}</p>
                                <a type="button" class="btn btn-secondary" (click)="onEdit(product)">Edit</a>
                                <a class="btn btn-danger mx-2" (click)="onDelete(product)">Delete</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="col-4" *ngIf="isSidePanelVisible" >
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="closeSidePanel()">close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">SKU</label>
                        <input type="text" [(ngModel)]="productObj.productSku" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" [(ngModel)]="productObj.productName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Short Name</label>
                        <input type="text" [(ngModel)]="productObj.productShortName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="number" [(ngModel)]="productObj.productPrice" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Category</label>
                        <select name="" id="" [(ngModel)]="productObj.categoryId" class="form-select">
                            @for (cat of categoryList; track $index) {
                                <option [value]="cat.categoryId">{{ cat.categoryName }}</option>
                            }
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Delivery Time</label>
                        <input type="text" [(ngModel)]="productObj.deliveryTimeSpan" class="form-control"> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Image</label>
                        <input type="text" [(ngModel)]="productObj.productImageUrl" class="form-control"> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Description</label>
                        <textarea rows="4" [(ngModel)]="productObj.productDescription" class="form-control"></textarea>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6">
                        <button class="btn btn-sm btn-danger" (click)="onReset()">Reset</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-success" *ngIf="productObj.productId == 0" (click)="onSave()">Create</button>
                        <button class="btn btn-sm btn-success" *ngIf="productObj.productId !== 0" (click)="onUpdate()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>